{% extends "layouts/_BASE.html" %}

{% set headerActive = "tasks" %}
{% set back = "true" %}


{% block service %}


    <h1 class="govuk-heading-l">Check your answers before sending for review</h1>

    <form class="form" action="date-changes" method="post">
      <h2 class="govuk-heading-m">Your edits</h2>

{{ govukSummaryList({
  card: {
    title: {
      text: "Description"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "description"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Previous"
      },
      value: {
        html: "Do not wait until the deadline. You should complete your school census on school census day or as close to school census day as possible"
      }
    },
    {
      key: {
        text: "New"
      },
      value: {
        html: data['taskDescription']
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Due date"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "due date"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Previous"
      },
      value: {
        html: "6 Nov 2024"
      }
    },
    {
      key: {
        text: "New"
      },
      value: {
        html: data['exact-due-date-day']
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Not edited</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Task name"
      },
      value: {
        text: "Complete your autumn school census return"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "task name"
          }
        ]
      }
    },
    {
      key: {
        text: "Link"
      },
      value: {
        html: '<a href="">https://www.gov.uk/guidance/school-census-submission</a>'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "link"
          }
        ]
      }
    },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "3 Oct 2024"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "start date"
          }
        ]
      }
    },
    {
      key: {
        text: "Requirement"
      },
      value: {
        html: 'Mandatory'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "requirement"
          }
        ]
      }
    }
  ]
}) }}

    {{ govukButton({
      text: "Continue",
      href: "success"
    }) }}

  </form>

{% endblock %}



