{% extends "layouts/_BASE.html" %}

{% set headerActive = "tasks" %}
{% set back = "true" %}

{% block service %}

    <form class="form" action="gov-uk-published-scheduled" method="post">

    {{ govukRadios({
      name: "publishedScheduled",
      fieldset: {
        legend: {
          text: "Is the change already published or scheduled to be published on GOV.UK?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select whether your date change is displayed on GOV.UK"
      },    
      items: [
        {
          value: "yes",
          text: "Yes, already published"
        },
        {
          value: "due to be published",
          text: "Yes, due to be published"
        },
        {
          value: "no",
          text: "No, date not published or scheduled"
        }
      ]
    }) }}


    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

{% endblock %}



