{% extends "layouts/_TASK.html" %}

{% set headerActive = "tasks" %}
{% set back = "true" %}
{% set pageHeading = "School census" %}
{% set published = "true" %}


{% block service %}





    {{ govukSummaryList({
      card: {
        title: {
          text: "DfE Connect page details"
        }
      },
      rows: [
        {
          key: {
            text: "Description"
          },
          value: {
            html: "Collection of pupil and school dates described in the census guidance. Happens over a one month period."
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Responsible team"
          },
          value: {
            html: "School census"
          },
          actions: {
            items: [
              {
                
              }
            ]
          }
        },
        {
          key: {
            text: "Tasks"
          },
          value: {
            html: "Complete your autumn school census return"
          },
          actions: {
            items: [
              {
                href: "subtask-1",
                text: "View",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: ""
          },
          value: {
            html: 'Check the school census guidance for any changes'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View",
                visuallyHiddenText: "relationship to lead tenant"
              }
            ]
          }
        },
        {
          key: {
            text: ""
          },
          value: {
            html: 'Amend your autumn school census data, if needed'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View",
                visuallyHiddenText: "relationship to lead tenant"
              }
            ]
          }
        },
        {
          key: {
            text: ""
          },
          value: {
            html: 'Complete your spring school census return'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View",
                visuallyHiddenText: "relationship to lead tenant"
              }
            ]
          }
        },
        {
          key: {
            text: ""
          },
          value: {
            html: 'Amend your spring school census data, if needed'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View",
                visuallyHiddenText: "relationship to lead tenant"
              }
            ]
          }
        },
        {
          key: {
            text: ""
          },
          value: {
            html: 'Complete your summer school census return'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View",
                visuallyHiddenText: "relationship to lead tenant"
              }
            ]
          }
        },
        {
          key: {
            text: ""
          },
          value: {
            html: 'Check the school census guidance for any changes'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View",
                visuallyHiddenText: "relationship to lead tenant"
              }
            ]
          }
        },
        {
          key: {
            text: ""
          },
          value: {
            html: 'Amend your summer school census data, if needed'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View",
                visuallyHiddenText: "relationship to lead tenant"
              }
            ]
          }
        }
      ]
    }) }}


{% endblock %}



