//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import 'node_modules/dfe-frontend/packages/dfefrontend';

.govuk-width-container { @include govuk-width-container; }

.govuk-link__filter {
    background-color: govuk-colour("white");
    color: #1d70b8;
    border-bottom: none;
    box-shadow: none;
}

.govuk-link__filter:hover {
    background-color: govuk-colour("white");
    color: #003078;
    text-decoration: underline;
}

.govuk-link__filter:focus {
    outline: 3px solid transparent;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}



// Patterns not in Frontend

@import "components/heading-search";
@import "components/sub-navigation";

