{% extends "./layouts/_BASE.html" %}

{% set headerActive = "requests" %}
{% set back = "true" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">  

    <form action="requests-cancelled-new-dfe-connect-page" method="post">

    <h1 class="govuk-heading-l">Are you sure you want to cancel the request?</h1>

    <div class="govuk-inset-text">
      Your request information cannot be edited once it has been removed.
    </div>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button" name="workforceCensus" value="true">
        Confirm cancel request
      </button>
      <a class="govuk-link" href="requests">Cancel</a>
    </div>
  </form>

{% endblock %}



