{% extends "./layouts/_BASE.html" %}

{% set headerActive = "home" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">  

    <h1 class="govuk-heading-l">Manage your DfE Connect data</h1>

    <p>Manage your DfE Connect pages, update tasks and track your current change requests.</p>

    {% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

    {{ card({
      cards: [
          {
              "imageCard": false,
              "imagePath": "/images/sample-image.jpg",
              "altText": "Manage your content pages",
              "headingLevel": "3",
              "linkCard": true,
              "link": "dfe-connect-pages",
              "openInNewTab": false,
              "heading": "Manage your content pages",
              "description": "Update the content pages you have on DfE Connect. ",
              "meta": ""
          },
          {
            "imageCard": false,
            "imagePath": "/images/sample-image.jpg",
            "altText": "Sample Image",
            "headingLevel": "3",
            "linkCard": true,
            "link": "teams",
            "openInNewTab": false,
            "heading": "Manage your team",
            "description": "Check your team details and make any changes.",
            "meta": ""
        },
        {
          "imageCard": false,
          "imagePath": "/images/sample-image.jpg",
          "altText": "Sample Image",
          "headingLevel": "3",
          "linkCard": true,
          "link": "requests",
          "openInNewTab": false,
          "heading": "Your requests",
          "description": "View requested changes that you and your team have sent for review.",
          "meta": ""
      }
      ]
  }) }}



    <h2 class="govuk-heading-m">Upcoming this month</h2>

    <p class="govuk-body">These are your tasks for school business professionals this month.</p>

    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      classes: "govuk-table--small-text-until-tablet",
      head: [
        {
          text: "Title"
        },
        {
          text: "Team"
        },
        {
          text: "Start date"
        },
        {
          text: "Due date"
        }
      ],
      rows: [
        [
          {
            html: '<a href="">Check the school census guidance for any changes</a>'
          },
          {
            text: "School census"
          },
          {
            text: "No start date"
          },
          {
            text: "Jan 2025"
          }
        ],
        [
          {
            html: '<a href="">Amend your autumn census return</a>'
          },
          {
            text: "School census"
          },
          {
            text: "Sep 2024"
          },
          {
            text: "Jan 2025"
          }
        ],
        [
          {
            html: '<a href="">View updated data return guidance</a>'
          },
          {
            text: "School workforce census"
          },
          {
            text: "1 Sep 2024"
          },
          {
            text: "31 Jan 2025"
          }
        ],
        [
          {
            html: '<a href="">Update your school workforce census documents</a>'
          },
          {
            text: "School workforce census"
          },
          {
            text: "1 Oct 2024"
          },
          {
            text: "31 Jan 2025"
          }
        ]
      ]
    }) }}



    <h2 class="govuk-heading-m">Your pending requests</h2>

    <p class="govuk-body">Pending requests for new tasks or changes made by you or a member of your team.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Title</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Requested by</th>
          <th scope="col" class="govuk-table__header">Requested on</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Review updated information for workforce census data</a></th>
          <td class="govuk-table__cell">Change</td>
          <td class="govuk-table__cell">Lucy Johnson</td>
          <td class="govuk-table__cell">{{ "today" | govukDate("truncate") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">School census guidance updated</a></th>
          <td class="govuk-table__cell">New</td>
          <td class="govuk-table__cell">Lucy Johnson</td>
          <td class="govuk-table__cell">{{ "today" | govukDate("truncate") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Read the latest on school census data and submission timelines</a></th>
          <td class="govuk-table__cell">Change</td>
          <td class="govuk-table__cell">Sam O'Connor</td>
          <td class="govuk-table__cell">{{ "today" | govukDate("truncate") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Workforce census</a></th>
          <td class="govuk-table__cell">Change</td>
          <td class="govuk-table__cell">Lucy Johnson</td>
          <td class="govuk-table__cell">{{ "today" | govukDate("truncate") }}</td>
        </tr>
      </tbody>
    </table>

{% endblock %}



