{% extends "./layouts/_BASE.html" %}

{% set headerActive = "requests" %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">  

    {% set html %}
      <h3 class="govuk-notification-banner__heading" style="max-width: 100%;">
        You've cancelled the request for Check the school census guidance for any changes.
      </h3>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}


    <h1 class="govuk-heading-l">Your requests</h1>

    <p>Check the status of your requests.</p>

    <h2 class="govuk-heading-m">Returned requests</h2>

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      classes: "govuk-table--small-text-until-tablet",
      head: [
        {
          text: "Name"
        },
        {
          text: "Type"
        },
        {
          text: "Reference number"
        },
        {
          text: "Status"
        }
      ],
      rows: [
        [
          {
            html: '<a href="">Workforce census winter guidance updated</a>'
          },
          {
            text: "Edit task"
          },
          {
            text: "PQ174923"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="request-returned-review">Amend your autumn school census data, if needed</a>'
          },
          {
            text: "New task"
          },
          {
            text: "KK484401"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--red">
              Returned
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Workforce census winter guidance updated</a>'
          },
          {
            text: "Edit task"
          },
          {
            text: "FB164920"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Complete your spring school census return</a>'
          },
          {
            text: "Edit task"
          },
          {
            text: "HC178391"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Workforce census</a>'
          },
          {
            text: "New team"
          },
          {
            text: "AD884401"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Amend your spring school census data, if needed</a>'
          },
          {
            text: "Edit task"
          },
          {
            text: "IG194823"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Complete your summer school census return</a>'
          },
          {
            text: "Edit task"
          },
          {
            text: "GP821604"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Complete your winter school census return</a>'
          },
          {
            text: "New task"
          },
          {
            text: "AD884401"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Read the latest on school census data and submission timelines</a>'
          },
          {
            text: "Edit task"
          },
          {
            text: "IG194823"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ],
        [
          {
            html: '<a href="">Complete your summer workforce census return</a>'
          },
          {
            text: "Edit task"
          },
          {
            text: "GP821604"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>'
          }
        ]
      ]
    }) }}

    <p><a href="all-returned-requests">View all returned requests</a> </p>

    <h2 class="govuk-heading-m">Contact us</h2>

    <p>If you need to contact us regarding your request, you can email us at <a href="">DfEConnect.Content@education.gov.uk</a>.</p>


{% endblock %}



