{% extends "../layouts/_EDIT.html" %}

{% set headerActive = "tasks" %}
{% set back = "true" %}
{% set nested = "true" %}


{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <h1 class="govuk-heading-l">Add audience tags</h1>

    <form class="form" action="add-dates" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="phase-hint">
          <legend class="govuk-fieldset__legend">
            Further institution types
          </legend>
          <div id="phase-hint" class="govuk-hint">
            Select all that apply
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="all-institutions" name="institution" type="checkbox" value="All phases" onclick="toggle(this);">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                All institutions
              </label>
            </div>
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="alternative-provision" name="institution" type="checkbox" value="Alternative provision">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                Alternative provision
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="community" name="institution" type="checkbox" value="Community">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                Community
              </label>
            </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="converter" name="institution" type="checkbox" value="Converter">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Converter
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="faith" name="institution" type="checkbox" value="Faith">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                Faith
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="free-school" name="institution" type="checkbox" value="Free school">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                Free school
              </label>
            </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="independent" name="institution" type="checkbox" value="Independent">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Independent
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sponsor-led" name="institution" type="checkbox" value="Sponsor led">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                Sponsor led
              </label>
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="studio-school" name="institution" type="checkbox" value="Studio school">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Studio school
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="university-technical-college" name="institution" type="checkbox" value="University technical college">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  University technical college
                </label>
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="voluntary-aided" name="institution" type="checkbox" value="Voluntary aided">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Voluntary aided
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="other" name="institution" type="checkbox" value="Other">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Other
                  </label>
                </div>
                </div>
        
        </fieldset>
      </div>


    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and continue"
      }) }}

      {{ govukButton({
        text: "Save and finish later",
        classes: "govuk-button--secondary"
      }) }}
    
      <a class="govuk-link" href="javascript:history.back()">Cancel</a>
    </div>

  </form>

  <script language="JavaScript">
    function toggle(source) {
  checkboxes = document.getElementsByName('institution');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
    </script>
      


{% endblock %}



