{% extends "layouts/_TAXONOMY.html" %}

{% set headerActive = "taxonomies" %}
{% set taxonomyType = "Taxonomy" %}
{% set pageHeading = "{{data['Name']}}" %}
{% set active = "true" %}
{% set back = "true" %}
{% set newTaxonomy = "true" %}

{% block service %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Overview"
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['Name']
      }
    },
    {
      key: {
        text: "Hint text"
      },
      value: {
        text: data['child-taxonomy-hint'] or "No hint text added"
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        text: data['childTaxonomyLocation']
      }
    },
    {
      key: {
        text: "Requirement"
      },
      value: {
        text: data['childTaxonomyRequirement']
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Input options"
    }
  },
  rows: [
    {
      key: {
        text: "Type"
      },
      value: {
        html: "Radio buttons"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Tag values</h2>

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  classes: "govuk-table--small-text-until-tablet",
  head: [
    {
      text: "Tag name"
    },
    {
      text: "Database term"
    },
    {
      text: "Status"
    },
    {
      text: "Action"
    }
  ],
  rows: [
    [
      {
        html: '<a href="activity-tag-values/apply-for-something">Apply for something</a>'
      },
      {
        text: "#application"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green">
          Active
        </strong>'
      },
      {
        html: '<a href="">Edit</a>'
      }
    ],
    [
      {
        html: '<a href="activity-tag-values/create-or-publish-report">Create or publish a report</a>'
      },
      {
        text: "#report"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green">
          Active
        </strong>'
      },
      {
        html: '<a href="">Edit</a>'
      }
    ],
    [
      {
        html: '<a href="activity-tag-values/create-policy">Create policy</a>'
      },
      {
        text: "#policy"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green">
          Active
        </strong>'
      },
      {
        html: '<a href="">Edit</a>'
      }
    ],
    [
      {
        html: '<a href="activity-tag-values/data-return">Data return or submission</a>'
      },
      {
        text: "#data_return"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green">
          Active
        </strong>'
      },
      {
        html: '<a href="">Edit</a>'
      }
    ],
    [
      {
        html: '<a href="activity-tag-values/review-data">Review data or guidance</a>'
      },
      {
        text: "#review"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green">
          Active
        </strong>'
      },
      {
        html: '<a href="">Edit</a>'
      }
    ]
  ]
}) }}

{{ govukButton({
  text: "Add a new tag value",
  classes: "govuk-button--secondary"
}) }}


{% endblock %}




