{% set serviceName = "Manage your DfE Connect data" %}

{% extends "../layouts/_BASE.html" %}  

{% block beforeContent %}
{{ govukPhaseBanner({  tag: {    text: "Beta"  },  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'}) }}
  
{% if back %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}  

{% block content %}
<div class="govuk-grid-row"> 
<div class="govuk-grid-column-two-thirds">  
<!-- start of service specific block -->
{% block service %}
Text goes here, override this by overriding the block
{% endblock %}
<!-- end service specific block-->
</div>
{% endblock %}    
