{% extends "layouts/_SU-BASE.html" %}

{% set back = "true" %}
{% set headerActive = "taxonomies" %}

{% block service %}

<form action="create-child" method="post">


{{ govukRadios({
  name: "parent-child-taxonomy",
  fieldset: {
    legend: {
      text: "Choose a parent from the existing child taxonomies",
      isPageHeading: true,
      classes: "govuk-heading-l"
    }
  },
  items: [
    {
      value: "Funding aims",
      text: "Funding aims"
    },
    {
      value: "Funding methods",
      text: "Funding methods"
    },
    {
      value: "No - funding is the parent tag",
      text: "No - funding is the parent tag"
    }
  ]
}) }}
  


<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}

  {{ govukButton({
    text: "Save as draft",
    classes: "govuk-button--secondary"
  }) }}

  <a class="govuk-link" href="#">Cancel</a>
</div>

</form>

{% endblock %}




