{% extends "layouts/_SUBTASK.html" %}

{% set headerActive = "tasks" %}
{% set back = "true" %}


{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <span class="govuk-caption-xl">Subtask details</span>
    <h1 class="govuk-heading-xl">This is a subtask</h1>

    <p>These are the details for your subtask. You may request a change, request to archive or view a subtask detail.</p>

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Actions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Last updated",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Audit trail",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
        [
          {
            html: ' <strong class="govuk-tag govuk-tag--yellow">
              Draft
            </strong>'
          },
          {
            html: '<p><a href="edit-subtask-1">Edit subtask</a></p><a href="">Archive subtask</a>'
          },
          {
            text: "13 October 2024"
          },
          {
            html: '<a href="">View history</a>'
          }
        ]
      ]
    }) }}


    {{ govukSummaryList({
      card: {
        title: {
          text: "Task details"
        }
      },
      rows: [
      {
        key: {
          text: "Subtask ID"
        },
        value: {
          html: "TI0000002"
        },
        actions: {
          items: [
            {
            }
          ]
        }
      },
        {
          key: {
            text: "Subtask name"
          },
          value: {
            html: "This is a subtask"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Service"
          },
          value: {
            html: "National Tutoring Programme"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "View",
                visuallyHiddenText: "age"
              }
            ]
          }
        },
        {
          key: {
            text: "Start date"
          },
          value: {
            html: "3 Oct 2024"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Due date"
          },
          value: {
            html: "6 Nov 2024"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Requirement"
          },
          value: {
            html: "Mandatory"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Insight tags"
          },
          value: {
            html: "Review guidance, Non-transactional"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Audience tags"
          },
          value: {
            html: "Primary school, Mainstream school, Academies"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        }
      ]
    }) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Task information"
    }
  },
  rows: [
    {
      key: {
        text: "Part of task"
      },
      value: {
        html: "	Updates to Academy Trust handbook come into effect"
      },
      actions: {
        items: [
          {
            href: "task-1",
            text: "View",
            visuallyHiddenText: "whether details are known"
          }
        ]
      }
    },
    {
      key: {
        text: "Other subtasks in this task"
      },
      value: {
        html: "This is another subtask"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "relationship to lead tenant"
          }
        ]
      }
    }
  ]
}) }}


{% endblock %}



