{% extends "layouts/_TASK.html" %}

{% set headerActive = "tasks" %}
{% set back = "true" %}


{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

    <span class="govuk-caption-xl">Task details</span>
    <h1 class="govuk-heading-xl">Updates to Academy Trust handbook come into effect</h1>

    <p>These are the details for your task. You may request a change, request to archive or view a task detail.</p>

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Actions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Last updated",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Audit trail",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
        [
          {
            html: ' <strong class="govuk-tag govuk-tag--yellow">
              Draft
            </strong>'
          },
          {
            html: '<p><a href="edit-task-1">Edit task</a></p><a href="">Archive task</a>'
          },
          {
            text: "13 Oct 2024"
          },
          {
            html: '<a href="">View history</a>'
          }
        ]
      ]
    }) }}


    {{ govukSummaryList({
      card: {
        title: {
          text: "Task details"
        }
      },
      rows: [
        {
          key: {
            text: "Task name"
          },
          value: {
            html: "Updates to Academy Trust handbook come into effect"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Description"
          },
          value: {
            html: "Partner"
          },
          actions: {
            items: [
              {
                
              }
            ]
          }
        },
        {
          key: {
            text: "Service"
          },
          value: {
            html: "National Tutoring Programme"
          },
          actions: {
            items: [
              {
                href: "service-1",
                text: "View",
                visuallyHiddenText: "age"
              }
            ]
          }
        },
        {
          key: {
            text: "Link"
          },
          value: {
            html: '<a href="https://www.gov.uk/guidance/academy-trust-handbook">https://www.gov.uk/guidance/academy-trust-handbook</a>'
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Start date"
          },
          value: {
            html: "3 Oct 2024"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Due date"
          },
          value: {
            html: "6 Nov 2024"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        },
        {
          key: {
            text: "Requirement"
          },
          value: {
            html: "Mandatory"
          },
          actions: {
            items: [
              {
              }
            ]
          }
        }
      ]
    }) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Task information"
    }
  },
  rows: [
    {
      key: {
        text: "Part of DfE Connect page"
      },
      value: {
        html: "National Tutoring Programme"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "whether details are known"
          }
        ]
      }
    },
    {
      key: {
        text: "Other tasks"
      },
      value: {
        html: "This is a subtask"
      },
      actions: {
        items: [
          {
            href: "subtask-1",
            text: "View",
            visuallyHiddenText: "relationship to lead tenant"
          }
        ]
      }
    }
  ]
}) }}


{% endblock %}



