{% extends "layouts/_INDEX.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manage your DfE Connect data prototype
    </h1>

    <h2 class="govuk-heading-m">Current version</h2>
    <p>UR round 3 - add a new task</p>
    <p><a href="nov24-ur-r3/homepage">View prototype</a></p>

    <h2 class="govuk-heading-m">Previous versions</h2>
    <p>UR round 2</p>
    <p><a href="oct24-ur-r2/homepage">View prototype</a></p>

  </div>
</div>

{% endblock %}
