{% set serviceName = "Manage your DfE Connect data" %}

{% extends "layouts/_BASE.html" %}  

{% block beforeContent %}
{{ govukPhaseBanner({  tag: {    text: "Beta"  },  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'}) }}
  
{% if back %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}  

{% block content %}
<div class="govuk-grid-row"> 
<div class="govuk-grid-column-full">  

    <span class="govuk-caption-l">DfE Connect page</span>
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% if draft %}

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Actions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Last updated",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Audit trail",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
        [
          {
            html: '<strong class="govuk-tag govuk-tag--yellow">
              Draft
            </strong>'
          },
          {
            html: '<a href="edit-task-1">Request a change</a>'
          },
          {
            text: "13 Oct 2024"
          },
          {
            html: '<a href="">View history</a>'
          }
        ]
      ]
    }) }}

    {% elseif published %}

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Actions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Last updated",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Audit trail",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
        [
          {
            html: '<strong class="govuk-tag govuk-tag--green">
              Published
            </strong>'
          },
          {
            html: '<a href="edit-task-1">Request a change</a>'
          },
          {
            text: "13 Oct 2024"
          },
          {
            html: '<a href="">View history</a>'
          }
        ]
      ]
    }) }}

    {% elseif archived %}

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Actions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Last updated",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Audit trail",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
        [
          {
            html: '<strong class="govuk-tag govuk-tag--red">
              Archived
            </strong>'
          },
          {
            html: '<a href="edit-task-1">Request a change</a>'
          },
          {
            text: "13 Oct 2024"
          },
          {
            html: '<a href="">View history</a>'
          }
        ]
      ]
    }) }}

    {% elseif decomissioned %}

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Actions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Last updated",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Audit trail",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
        [
          {
            html: '<strong class="govuk-tag govuk-tag--red">
                Decomissioned
            </strong>'
          },
          {
            html: '<a href="edit-task-1">Request a change</a>'
          },
          {
            text: "13 Oct 2024"
          },
          {
            html: '<a href="">View history</a>'
          }
        ]
      ]
    }) }}

    {% elseif queued %}

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Actions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Last updated",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Audit trail",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
        [
          {
            html: '<strong class="govuk-tag govuk-tag--blue">
                Queued
            </strong>'
          },
          {
            html: '<a href="edit-task-1">Request a change</a>'
          },
          {
            text: "13 Oct 2024"
          },
          {
            html: '<a href="">View history</a>'
          }
        ]
      ]
    }) }}
{% endif %}
  


<!-- start of service specific block -->
{% block service %}
Text goes here, override this by overriding the block
{% endblock %}
<!-- end service specific block-->
</div>
{% endblock %}    
